*{
  box-sizing: border-box;
}

@font-face {
  font-family: Nunito;
  font-weight: 400;
  src: url('../../font/Nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url('../../font/Nunito/Nunito-Bold.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 900;
  src: url('../../font/Nunito/Nunito-ExtraBold.ttf');
}

.main {
  .searchResults {
    margin-top: 14px;
    margin-bottom: 54px;
    .searchResults-title {
      margin: 0;
      font-family: 'Nunito', sans-serif;
      font-weight: 900;
      font-size: 36px;
      color: #333;
    }
    .searchResults-cards {    
      display: flex;
      flex-direction: column;
      .courseCard {
      width: 100%;
      margin-top: 12px;
      align-items: flex-start;
      flex-direction: row;
      .courseCard-top {
        max-height: 100%;
        max-width: 704px;
        flex-direction: row-reverse;
        align-items: start;
        .courseCard-info {
          padding-left: 16px;
        }
      }
      .courseCard-bottom {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    }

  }
}