.personal-data {
  padding: 40px;
  height: 348px;
  width: 999px;
  border-radius: 12px;
  background-color: #fff;
  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999;
  }
  &__block {
    margin-bottom: 24px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    span {
      border-bottom: 1px solid #E7E7E7;
      margin-bottom: 24px;
    }
    input, button {
      
      outline: none;
    }
  }
  &__input  { 
    margin-right: 16px;
    position: relative;
    padding: 16px 0 12px 21px;
    width: 260px;
    height: 50px;
    background: #EFF2F7;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #999;
    font-weight: 400;
    border: 1px solid #E7E7E7;
    border-radius: 15px;
  }
  &__button {
    background-color: #007AFF;
    height: 42px;
    width: 122px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
  }
}

@media (max-width: 450px) {
  .personal-data {
    margin-bottom: 24px;
    padding: 24px;
    height: 389px;
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    &__title {
      margin-bottom: 16px;
    }
    &__block {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        display: none;
      }
    }
    &__input { 
      margin-right: 0;
      margin-bottom: 8px;
      position: relative;
      padding: 16px 0 12px 21px;
      width: 303px;
    }
    &__button {
      margin-top: 8px;
      width: 303px;
    }
  }
}