*{
  box-sizing: border-box;
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  src: url('../../font/Ubunto/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  src: url('../../font/Ubunto/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 400;
  src: url('../../font/Nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url('../../font/Nunito/Nunito-Bold.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 900;
  src: url('../../font/Nunito/Nunito-ExtraBold.ttf');
}

.main-aboutCourse {
  padding: 0;
  .bannerCourse {
    padding: 0 50px;
    width: 100%;
    background-color: #489EFD;
    height: 247px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bannerCourse-info {
      max-width: 656px;
      .bannerCourse-button {
        width: 121px;
        height: 24px;
        background-color: #fff;
        border-radius: 16px;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #999;
        display: flex;
        align-items: center;
        justify-content: center;

      }
      .bannerCourse-title {
        margin: 8px 0;
        font-family: 'Nunito', sans-serif;
        font-size: 52px;
        font-weight: 900;
        color: #fff;
      }
      .bannerCourse-text {
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
      }
    }
  }
  .aboutCourse {
    padding: 0 50px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    .aboutCourse-info {
      max-width: 725px;
      .aboutCourse-info-title {
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-size: 52px;
        font-weight: 900;
        color: #333;
      }
      .aboutCourse-info-list {
        .aboutCourse-item {
          margin: 0;
          font-family: 'Nunito', sans-serif;
          font-size: 24px;
          font-weight: 400;
          color: #999;
        }
      }
      .aboutCourse-info-text {
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-size: 24px;
        font-weight: 400;
        color: #999;
      }
    }
    .aboutCourse-card {
      width: 269px;
      height: 184px;
      background-color: #fff;
      border-radius: 16px;
      .aboutCourse-card-price-button {
        width: 237px;
        height: 42px;
        border-radius: 8px;
        background-color: #007AFF;
        color: #fff;
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        border: none;
      }
    }
    .aboutCourse-card-price {
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .aboutCourse-card-price-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .aboutCourse-card-price-discount {
          display: flex;
          flex-direction: column;
          .oldPrice {
            text-decoration: line-through;
            color: #FF4F4F;
            font-size: 24px;
            font-family: 'Nunito', sans-serif;
          }
          .newPrice {
            color: #999;
            font-size: 32px;
            font-family: 'Nunito', sans-serif;
          }
        }
        .discount {
          color: #999;
          font-size: 16px;
          font-family: 'Nunito', sans-serif;
        }
      }
    }
    .aboutCourse-card-advantage {
      padding: 24px;
      .aboutCourse-card-list {
        padding: 0 24px;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        .aboutCourse-card-item {
          color: #489EFD;
          font-size: 16px;
          font-family: 'Nunito', sans-serif;
          
          p {
            color: #999;
            margin: 0;
          }
          
        }

      }
    }
  }
}