.my-training {
  padding: 40px;
  width: 999px;
  height: 640px;
  background-color: #fff;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(2, 430px);
  gap: 40px;
}

@media (max-width: 450px) {
  .my-training { 
    padding: 24px;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    gap: 8;
    border-radius: 0;
    margin-bottom: 24px;
  }

}