.authorization-popup {
  padding: 156px 0 155px 44px;
  width: 800px;
  height: 590px;
  border-radius: 32px;
  background: #fff;
  background-image: url(../../images/popupBackground.svg);
  background-repeat: no-repeat;
  background-position: right;
  &__form {
    width: 386px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    p {
      margin: 0 0 4px 0;
      font-family: 'Nunito', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #999;
    }
    input {
      border: 1px solid #E7E7E7;
      outline: none;
      border-radius: 15px;
      background: #EFF2F7;
      padding-left: 20px;
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      color: #999;
      font-weight: 400;
      height: 50px;
    }
  }
  &__email, &__password {
    width: 386px;
    grid-column: span 2;
    input {
      width: 100%;
    }
  }
  &__submit {
    margin-top: 24px;
    width: 386px;
    p {
      text-align: center;
      margin: 24px 0 0 0;
    }
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #489EFD;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    height: 50px;
  }
  &__link {
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #333;
    font-weight: 600;
  }
}