.footer {
  padding: 30px 50px 0;
  height: 136px;
  background-color: #fff;
  &__logo {
    display: none;
  }
  &__navbar {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    list-style-type: none;
    .footer__item {
      display: flex;
      align-items: center;
      padding-left: 16px;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    span {
      padding-top: 18px;
      font-family: 'Ubuntu', sans-serif;
      color: #999;
      font-weight: 400;
      font-size: 14px;
    }
  }
  &__nav {
    padding: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    list-style-type: none;
  }
  &__item {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 0;
  }
  &__link{
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #999;
    font-weight: 400;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .footer {
    padding: 24px 24px 0;
    height: 200px;
    &__logo {
      display: block;
    }
    &__navbar {
      display: flex;
      flex-direction: column;
    }
    &__group {
      flex-direction: column-reverse;
      span {
        font-size: 10px;
        padding-top: 12px;
        padding-bottom: 26px;
      }
    }
    &__nav {
      display: flex;
      flex-direction: column;
      margin-bottom: 7px;
    }
    &__link {
      color: #007AFF;
      font-size: 10px;
      font-weight: 700;
      padding-bottom: 4px;
    }
    &__list {
      .footer__item {
        padding-left: 0px;
      }
    }
  }
}