//@import "~bootstrap/scss/bootstrap";
*{
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  src: url('./font/Ubunto/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  src: url('./font/Ubunto/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 400;
  src: url('./font/Nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url('./font/Nunito/Nunito-Bold.ttf');
}

@font-face {
  font-family: Nunito;
  font-weight: 900;
  src: url('./font/Nunito/Nunito-ExtraBold.ttf');
}



body {
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EFF2F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1440px;
  margin: 0 auto; 
  padding: 0 50px;
}


