.blog-card {
  width: 420px;
  height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__img {
    border-radius: 16px;
  }
  &__data {
    padding-top: 8px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333;
  }
  &__text {
    margin: 0;
    padding-top: 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #999;
  }
}

@media (max-width: 450px) {
  .blog-card {
    width: 326px;
    height: 269px;
    &__img {
      height: 200px;
    }
  }
}